<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Connection</h2>
<!--                    <ul>-->
<!--                        <li><a routerLink="/">Home</a></li>-->
<!--                        <li><i class="icofont-simple-right"></i></li>-->
<!--                        <li>Log In</li>-->
<!--                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-area pt-100">
    <div class="container">
        <h2>Veuillez vous authentifier!</h2>

        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username, Phone Number or Email" [(ngModel)]="username" name="username">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
            </div>
        </form>

        <div class="login-sign-in">
            <a routerLink="/">Mot de passe oublié?</a>

            <ul>
                <li>Vous n'avez pas de compte ?</li>
                <li><a routerLink="/create-account">Faites vous enrégistrer par un administrateur.</a></li>
            </ul>

            <div class="text-center">
                <button type="submit" class="btn login-btn" (click)="login()">Se connecter.</button>
            </div>
        </div>

<!--        <div class="login-social">-->
<!--            <a href="#"><i class="icofont-facebook"></i> Login With Facebook</a>-->
<!--            <a class="login-google" href="#"><i class="icofont-google-plus"></i> Login With Google</a>-->
<!--        </div>-->
    </div>
</div>
