.logowhite{
    background: url("../../../../../src/assets/img/logowhite.png") no-repeat;
    content:"";
    //position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 100px;
    width: 117px;
    //background-size: 40px 40px;
}
