.femaleDarkSkin1{
    background: url("../../../../../src/assets/img/intelligent-ethnic-female-person-with-dark-skin.png") no-repeat;
    content:"";
    //position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 350px;
    width: 250px;
    //background-size: 40px 40px;
}
.femaleDarkSkin2{
    background: url("../../../../../src/assets/img/intelligent-ethnic-female-person-with-dark-skin-copy.png") no-repeat;
    content:"";
    //position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 350px;
    width: 250px;
    //background-size: 40px 40px;
}
.phone1{
    background: url("../../../../../src/assets/img/phoneroite.png") no-repeat;
    content:"";
    //position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 401px;
    width: 302px;
    //background-size: 40px 40px;
}
.phone2{
    background: url("../../../../../src/assets/img/phoneIncline.png") no-repeat;
    content:"";
    //position: absolute;
    bottom:0;
    right: 0;
    height: 401px;
    width: 302px;
    margin-left: -200px;
    //background-size: 40px 40px;
}
