<div class="navbar-area fixed-top">

<!--    <div class="mobile-nav">-->
<!--        <a routerLink="/" class="logo"><img src="src/assets/img/logo1.png" alt="Logo"></a>-->
<!--    </div>-->

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
<!--                <a class="navbar-brand" routerLink="/"><img src="src/assets/img/logo1.png" ></a>-->
                <div class="lelogo"></div>

                <div class="navDiv">

                    <div class="collapse navbar-collapse mean-menu navlinks" id="navbarSupportedContent">
                    <ul class="navbar-nav pr-10">
                        <li *ngIf="!status" class="nav-item">
                            <a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accueil</a>
                        </li>
                    </ul>
                    <div class="common-btn">
                        <a *ngIf="!status" class="login-btn" (click)="connexion()"><i></i> CONNEXION</a>
                        <a *ngIf="status" class="login-btn" (click)="deconnexion()"><i></i> DECONNEXION</a>
                    </div>
                </div>
                </div>
            </nav>
        </div>
    </div>

</div>
