.lelogo{
    background: url("../../../../../src/assets/img/group-42.png") no-repeat;
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100px;
    background-size: 50px 50px;
}
.common-btn{
    width: 100%;
}
.navDiv{
    width: 100%;
    margin-right: 0;
}
.navlinks{
    float: right;
}
